body {
    overflow: hidden;
}

p {
    background-repeat: no-repeat;
    width: 1500px;
    height: 1080px;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
    display: grid;
    position: absolute;
    z-index: -1;
}

.asiakas-container {
    background-color: transparent;
    font-family: "Press Start 2P";
    align-content: space-around;
    width: 35%;
    position: fixed;
    bottom: 150px;
    right: 275px;


}

label {
    font-family: "Press Start 2P";

}

label:hover {
    background-color: rosybrown;

}

button {
    font-family: "Press Start 2P";
}

footer {
    bottom: 30px;
    left: 30px;
    font-family: "Press Start 2P";
    position: fixed;

    .rahap {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .rahat {
        position: fixed;
        bottom: 0;
        left: 40px
    }}
#map {
    position: fixed;
    top: 10px;
    right: 0;
    height: 290px;
    width: 320px;


}